<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jwj.study.spring.application.transaction.cas.SequenceMapper">
  <resultMap id="BaseResultMap" type="com.jwj.study.spring.application.transaction.cas.Sequence">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="current_time" jdbcType="DATE" property="currentTime" />
    <result column="current_value" jdbcType="INTEGER" property="currentValue" />
  </resultMap>

  <sql id="Base_Column_List">
    id, current_time, current_value
  </sql>
</mapper>
